@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}
:root{
    --corheader:#020BA6;
    --cortext1:#0AF1F2;
    --corfooter:#00CBDF;
}
.header1{
    background-color: var(--corheader);
}
.navbar{
    --bs-navbar-active-color: var(--corfooter);
    font-size: 1.2em;
}
.navbar-toggler{
    --bs-navbar-toggler-border-color: rgb(0 0 0 / 15%);
}
.nav-link{
    color: var(--corfooter);
}
.home{
    text-decoration: underline;
}
.hero{
    background-color: black;
}
#centralizando{
    display: flex;
    align-items: center;
    justify-content: center;
}
h4 a:hover::before{
    content: "🔗";
}
.lowsearch{
    background-color: #020BA6;
    color: white;
    text-transform: uppercase;
}
.lowsearch:hover{
    background-color: #aa9f9f;
}
.saibamais{
    color: black;
}
.saibamais:hover{
    color: #020BA6;
}
@media (max-width:990) {
    .nav-linkr{
        color: black;
        background-color: black;
    }
}